---
Language: Cpp
BasedOnStyle: Chromium
Standard: c++20
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: false
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: true
  BeforeLambdaBody: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 128
EmptyLineBeforeAccessModifier: LogicalBlock
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 2
SortIncludes: false
TabWidth: 4
UseTab: Always
DerivePointerAlignment: false
PointerAlignment: Left
# ReferenceAlignment: Left
# SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: true
SpacesInConditionalStatement: true
SpacesInParentheses: true
SpacesBeforeTrailingComments: 1
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
