---
Language: Cpp
BasedOnStyle: Chromium
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakAfterDefinitionReturnType: false
BraceWrapping: 
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 110
IndentCaseLabels: true
IndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation
DerivePointerAlignment: false
PointerAlignment: Left
Standard: c++20
...
